* {
	font-family: "Krub", sans-serif;
	font-size: 0.96em;
	font-weight: 400;
	letter-spacing: 0.1em;
}

:root {
	--bg-color: #0d1b2a;
	--main-color: #1b263b;
	--primary-color: #415a77;
	--secondary-color: #778da9;
	--tertiary-color: #e0e1dd;
}

body {
	color: var(--tertiary-color);
	background-color: var(--bg-color);
	margin: 0 auto;
	padding: 20px;
	max-width: 1440px;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

h1 {
	font-size: 1.8em;
	margin-bottom: 1.6em;
}

/* .main-container {
} */

.section-container {
	background-color: var(--main-color);
	margin-top: 0.5em;
	padding: 8px 15px;
	/* border: #e0e1dd 0.1rem solid; */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.question {
	font-size: 1.1em;
	font-weight: 500;
	color: var(--secondary-color);
}

.answer {
	padding: 8px 0px;
}

.days-container {
	display: grid;
	grid-template-columns: auto auto auto auto;

	p {
		letter-spacing: 0.6em;
	}
}

.highlight {
	font-size: 0.98em;
	font-weight: 600;
	text-transform: uppercase;
}
